# Ignore Visual Studio folder inside project
P01-420051936/.vs/

# Ignore build folders inside project
P01-420051936/x64/
P01-420051936/Debug/
P01-420051936/Release/

# Ignore IntelliSense files
P01-420051936/ipch/
*.ipch
*.pch

# Ignore compiled files
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log

# Ignore user-specific files
*.user
*.suo
*.cache

