# Ignore Visual Studio folder inside project
P01-420051936/.vs/

# Ignore IntelliSense files
P01-420051936/ipch/
*.ipch
*.pch

# Ignore compiled files
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log

# Ignore user-specific files
*.user
*.suo
*.cache

